<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="col-xs-12">
    <input type="text"
           ng-pattern="/^[a-zA-Z]*$/"
           class="form-control"
           #searchBar
           (keyup)="onKeyUp(searchBar.value)">

    <nav role="button" *ngFor="let title of titles; let i = index" (click)="onBreadCrumbClick(i)" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <img height="100px"
             width="100px"
             src="{{images[i]}}">
        <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
      </ol>
    </nav>
  </div>
</div>